@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.container {
    width: 100%;
}

.container > h1 {
    color: rgba(255, 255, 255, 0.89);
    position: absolute;
    size: 500px;
    bottom: 25%;
    left: 26%;
    font-size: 100px;
    font-family: 'Lobster', cursive;
    backdrop-filter: blur(2px);
}

.reminder {
    color: gold;
    position: absolute;
    z-index: 20;
    top: 3%;
    left: 25%;
}

.form {
    display: flex;
    position: absolute;
    top: 50%;
    left: 40%;
    align-self: center;
    justify-self: center;
    padding: 10px 50px;
    z-index: 10;
    /* box-shadow: 0px 0px 10px rgba(165, 42, 42, 0.514); */
    /* background-color: rgba(165, 42, 42, 0.452); */
    backdrop-filter: blur(2px);
    /* border: 1px solid black; */
    /* border-radius: 5px; */
    transition: all .3s;
}

.formChange {
    top: 5px;
}

.input {
    padding: 2%;
    /* border: none; */
    /* border-radius: 5px; */
}

.buttonSearch {
    margin-left: 5px;
    padding: 0% 2%;
    border: 1px solid brown;
    background-color: brown;
    transition: all .3s;
    color: wheat;
}

.buttonSearch:hover {
    margin-top: -4px;
    margin-bottom: -4px;
    margin-left: 1px;
    padding: 2% 4%;
}

.buttonContainer {
    position: absolute;
    bottom: 1%;
    left: 47%;
}

.buttonContainer >button {
    padding: 5px 10px;
    margin: 0px 10px;
    font-size: larger;
    border: 1px solid brown;
    background-color: brown;
    color: wheat;    
    transition: all .3s;
}

.buttonContainer >button:hover {
    padding: 10px 15px;
    margin: -5px 5px;
}

.error {
    position: absolute;
    bottom: 35%;
    left: 33%;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: brown;
    backdrop-filter: blur(2px);
}

.errorLong {
    left: 30%;
}

@media (max-width: 1024px) {
    .container > h1 {
        color: rgba(255, 255, 255, 0.89);
        position: absolute;
        size: 500px;
        bottom: 25%;
        left: 18%;
        font-size: 80px;
        font-family: 'Lobster', cursive;
        backdrop-filter: blur(2px);
    }

    .reminder {
        color: gold;
        position: absolute;
        z-index: 20;
        top: 3%;
        left: 14.8%;
    }
    
    .form {
        display: flex;
        position: absolute;
        top: 50%;
        left: 35%;
        align-self: center;
        justify-self: center;
        padding: 10px 50px;
        z-index: 10;
        /* box-shadow: 0px 0px 10px rgba(165, 42, 42, 0.514); */
        /* background-color: rgba(165, 42, 42, 0.452); */
        backdrop-filter: blur(2px);
        /* border: 1px solid black; */
        /* border-radius: 5px; */
        transition: all .3s;
    }
    

    .formChange {
        top: 5px;
    }

    .buttonContainer {
        position: absolute;
        bottom: 1%;
        left: 45%;
    }

    .buttonContainer >button {
        padding: 5px 10px;
        margin: 0px 10px;
        font-size: larger;
        border: 1px solid brown;
        background-color: brown;
        color: wheat;    
        transition: all .3s;
    }
    
    .buttonContainer >button:hover {
        padding: 10px 15px;
        margin: -5px 5px;
    }

    .error {
        position: absolute;
        bottom: 30%;
        left: 23%;
        font-family: 'Lobster', cursive;
        font-size: 50px;
        color: brown;
        backdrop-filter: blur(2px);
    }
    
    .errorLong {
        left: 11%;
    }
}

@media (max-width: 480px) {
    .container > h1 {
        color: rgba(255, 255, 255, 0.89);
        position: absolute;
        size: 500px;
        bottom: 25%;
        left: 5%;
        font-size: 50px;
        font-family: 'Lobster', cursive;
        backdrop-filter: blur(2px);
    }

    .reminder {
        color: gold;
        position: absolute;
        z-index: 20;
        top: 3%;
        left: 1%;
        font-size: smaller;
    }
    
    .form {
        display: flex;
        position: absolute;
        top: 50%;
        left: 20%;
        align-self: center;
        justify-self: center;
        padding: 10px 50px;
        z-index: 10;
        /* box-shadow: 0px 0px 10px rgba(165, 42, 42, 0.514); */
        /* background-color: rgba(165, 42, 42, 0.452); */
        backdrop-filter: blur(2px);
        /* border: 1px solid black; */
        /* border-radius: 5px; */
        transition: all .3s;
    }

    .formChange {
        top: 3px;
    }

    .buttonContainer {
        position: absolute;
        bottom: 1%;
        left: 40%;
    }

    .error {
        position: absolute;
        bottom: 30%;
        left: 5%;
        font-family: 'Lobster', cursive;
        font-size: 35px;
        color: brown;
        text-align: center;
        backdrop-filter: blur(2px);
    }
    
    .errorLong {
        left: 5%;
    }
}